.vs/
bin/
obj/
*NodeEditorWinforms-master
*GL_EditorFramework-master
*SuperBMD-master
*SuperBMD-link
*Assimp
*.resources
BrawlboxHelper/BrawlHelperTest2.cs
BrawlboxHelper/BrawlHelperTest2.zip
Switch_Toolbox_StreamOverhaul.zip
Toolbox/Lib.zip
