
.vs/Switch_Toolbox/v15/Server/sqlite3/db.lock
*.resources
Debug/
Release/
Switch_Toolbox/Lib/Syroot.NintenTools.Bfres.dll
Switch_Toolbox/Lib/Syroot.NintenTools.Bfres.pdb
Switch_Toolbox/Lib/Syroot.NintenTools.Bfres.xml
