<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EditorCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OdysseyEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <EditorCore.Properties.Settings>
            <setting name="OnlyKnwonObjs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraInertia" serializeAs="String">
                <value>0.92</value>
            </setting>
            <setting name="ShowFps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTriCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDbgInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZoomSen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RotSen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownloadDbLink" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FarPlaneDistance" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="CustomModels" serializeAs="String">
                <value>False</value>
            </setting>
        </EditorCore.Properties.Settings>
        <OdysseyEditor.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlyKnwonObjs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraInertia" serializeAs="String">
                <value>0.92</value>
            </setting>
            <setting name="ShowFps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTriCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDbgInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZoomSen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RotSen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownloadDbLink" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FarPlaneDistance" serializeAs="String">
                <value>100000</value>
            </setting>
        </OdysseyEditor.Properties.Settings>
    </userSettings>
</configuration>
